In [2]:
from binance.client import Client
client = Client()

In [20]:
candle = client.get_historical_klines("BNBBTC", Client.KLINE_INTERVAL_30MINUTE, "2020-10-29T01:16:04.568Z")

In [21]:
import pandas as pd
df = pd.DataFrame(candle, columns = ["Open timestamp", "Open", "High", "Low", "Close", "Volume", "Close timestamp", "Quote asset volume", "Number of trades", "Taker buy base asset volume", "Taker buy quote asset volume", "Can be ignored"])
df

,Open timestamp,Open,High,Low,Close,Volume,Close timestamp,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Can be ignored
0,1603935000000,0.00228620,0.00228890,0.00228210,0.00228330,16015.82000000,1603936799999,36.61099171,747,7827.89000000,17.89591300,0
1,1603936800000,0.00228340,0.00228820,0.00228160,0.00228270,16448.44000000,1603938599999,37.57687791,545,10167.97000000,23.23020608,0
2,1603938600000,0.00228180,0.00228750,0.00228120,0.00228560,17972.42000000,1603940399999,41.06165830,661,13213.50000000,30.18981297,0
3,1603940400000,0.00228560,0.00229140,0.00228290,0.00228540,21009.64000000,1603942199999,48.04970029,763,15902.25000000,36.37282757,0
4,1603942200000,0.00228480,0.00228520,0.00227930,0.00227960,23906.15000000,1603943999999,54.58145279,709,19448.50000000,44.40848120,0

In [16]:
 df['Open time'] = pd.to_datetime(df['Open timestamp'],unit='ms')
 df['Close time'] = pd.to_datetime(df['Close timestamp'],unit='ms')
 df

,Open timestamp,Open,High,Low,Close,Volume,Close timestamp,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Can be ignored,Open time,Close time
0,1603935000000,0.00228620,0.00228890,0.00228210,0.00228330,16015.82000000,1603936799999,36.61099171,747,7827.89000000,17.89591300,0,2020-10-29 01:30:00,2020-10-29 01:59:59.999
1,1603936800000,0.00228340,0.00228820,0.00228160,0.00228270,16448.44000000,1603938599999,37.57687791,545,10167.97000000,23.23020608,0,2020-10-29 02:00:00,2020-10-29 02:29:59.999
2,1603938600000,0.00228180,0.00228750,0.00228120,0.00228560,17972.42000000,1603940399999,41.06165830,661,13213.50000000,30.18981297,0,2020-10-29 02:30:00,2020-10-29 02:59:59.999
3,1603940400000,0.00228560,0.00229020,0.00228290,0.00228960,12732.98000000,1603942199999,29.09978255,528,9157.31000000,20.92721633,0,2020-10-29 03:00:00,2020-10-29 03:29:59.999

In [18]:
df = df[['Open time', 'Open','High','Low','Close','Volume','Close time']]
df

,Open time,Open,High,Low,Close,Volume,Close time
0,2020-10-29 01:30:00,0.00228620,0.00228890,0.00228210,0.00228330,16015.82000000,2020-10-29 01:59:59.999
1,2020-10-29 02:00:00,0.00228340,0.00228820,0.00228160,0.00228270,16448.44000000,2020-10-29 02:29:59.999
2,2020-10-29 02:30:00,0.00228180,0.00228750,0.00228120,0.00228560,17972.42000000,2020-10-29 02:59:59.999
3,2020-10-29 03:00:00,0.00228560,0.00229020,0.00228290,0.00228960,12732.98000000,2020-10-29 03:29:59.999

In [19]:
df.to_csv('./candledata.csv', index=False)

In [28]:
transactions = client.get_recent_trades(symbol="BNBBTC", limit=5)
transactions

[{'id': 92864632,
  'price': '0.00228670',
  'qty': '0.52000000',
  'quoteQty': '0.00118908',
  'time': 1603944422956,
  'isBuyerMaker': False,
  'isBestMatch': True},
 {'id': 92864633,
  'price': '0.00228680',
  'qty': '4.93000000',
  'quoteQty': '0.01127392',
  'time': 1603944430670,
  'isBuyerMaker': False,
  'isBestMatch': True},
 {'id': 92864634,
  'price': '0.00228670',
  'qty': '0.40000000',
  'quoteQty': '0.00091468',
  'time': 1603944432378,
  'isBuyerMaker': False,
  'isBestMatch': True},
 {'id': 92864635,
  'price': '0.00228660',
  'qty': '27.39000000',
  'quoteQty': '0.06262997',
  'time': 1603944434878,
  'isBuyerMaker': False,
  'isBestMatch': True},
 {'id': 92864636,
  'price': '0.00228650',
  'qty': '33.49000000',
  'quoteQty': '0.07657488',
  'time': 1603944449636,
  'isBuyerMaker': True,
  'isBestMatch': True}]

In [41]:
df2 = pd.DataFrame(transactions)
df2

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,92864632,0.00228670,0.52000000,0.00118908,1603944422956,False,True
1,92864633,0.00228680,4.93000000,0.01127392,1603944430670,False,True
2,92864634,0.00228670,0.40000000,0.00091468,1603944432378,False,True
3,92864635,0.00228660,27.39000000,0.06262997,1603944434878,False,True
4,92864636,0.00228650,33.49000000,0.07657488,1603944449636,True,True

In [42]:
 df2['Datetime'] = pd.to_datetime(df2['time'],unit='ms')
 df2

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch,Datetime
0,92864632,0.00228670,0.52000000,0.00118908,1603944422956,False,True,2020-10-29 04:07:02.956
1,92864633,0.00228680,4.93000000,0.01127392,1603944430670,False,True,2020-10-29 04:07:10.670
2,92864634,0.00228670,0.40000000,0.00091468,1603944432378,False,True,2020-10-29 04:07:12.378
3,92864635,0.00228660,27.39000000,0.06262997,1603944434878,False,True,2020-10-29 04:07:14.878
4,92864636,0.00228650,33.49000000,0.07657488,1603944449636,True,True,2020-10-29 04:07:29.636

In [43]:
df2.rename(columns = { "id": "ID", "price": "Price", "qty": "Quantity", "quoteQty": "QuoteQuantity", "time": "Time", "isBuyerMaker": "Buyer maker", "isBestMatch": "Best match"})

,ID,Price,Quantity,QuoteQuantity,Time,Buyer maker,Best match,Datetime
0,92864632,0.00228670,0.52000000,0.00118908,1603944422956,False,True,2020-10-29 04:07:02.956
1,92864633,0.00228680,4.93000000,0.01127392,1603944430670,False,True,2020-10-29 04:07:10.670
2,92864634,0.00228670,0.40000000,0.00091468,1603944432378,False,True,2020-10-29 04:07:12.378
3,92864635,0.00228660,27.39000000,0.06262997,1603944434878,False,True,2020-10-29 04:07:14.878
4,92864636,0.00228650,33.49000000,0.07657488,1603944449636,True,True,2020-10-29 04:07:29.636

In [44]:
df.to_csv('./transactions.csv', index=False)

In [52]:
depth = client.get_order_book(symbol="BNBBTC", limit=10)
depth

{'lastUpdateId': 960551028,
 'bids': [['0.00228600', '316.37000000'],
  ['0.00228560', '18.73000000'],
  ['0.00228540', '2.44000000'],
  ['0.00228510', '43.74000000'],
  ['0.00228470', '73.62000000'],
  ['0.00228460', '98.67000000'],
  ['0.00228450', '130.00000000'],
  ['0.00228430', '125.90000000'],
  ['0.00228420', '100.00000000'],
  ['0.00228410', '87.51000000']],
 'asks': [['0.00228610', '61.78000000'],
  ['0.00228620', '4.46000000'],
  ['0.00228630', '2.18000000'],
  ['0.00228650', '110.16000000'],
  ['0.00228670', '20.79000000'],
  ['0.00228680', '2.88000000'],
  ['0.00228690', '3.28000000'],
  ['0.00228700', '2.49000000'],
  ['0.00228730', '43.75000000'],
  ['0.00228740', '212.95000000']]}

In [54]:
bids = pd.DataFrame(depth['bids'], columns=["Price", "Quantity"])
bids

        Price      Quantity
0  0.00228600  316.37000000
1  0.00228560   18.73000000
2  0.00228540    2.44000000
3  0.00228510   43.74000000
4  0.00228470   73.62000000
5  0.00228460   98.67000000
6  0.00228450  130.00000000
7  0.00228430  125.90000000
8  0.00228420  100.00000000
9  0.00228410   87.51000000

In [64]:
bids['Type'] = "Bid"
bids

        Price      Quantity Type
0  0.00228600  316.37000000  Bid
1  0.00228560   18.73000000  Bid
2  0.00228540    2.44000000  Bid
3  0.00228510   43.74000000  Bid
4  0.00228470   73.62000000  Bid
5  0.00228460   98.67000000  Bid
6  0.00228450  130.00000000  Bid
7  0.00228430  125.90000000  Bid
8  0.00228420  100.00000000  Bid
9  0.00228410   87.51000000  Bid

In [66]:
asks = pd.DataFrame(depth['asks'], columns=["Price", "Quantity"])
asks['Type'] = "Ask"
asks

        Price      Quantity Type
0  0.00228610   61.78000000  Ask
1  0.00228620    4.46000000  Ask
2  0.00228630    2.18000000  Ask
3  0.00228650  110.16000000  Ask
4  0.00228670   20.79000000  Ask
5  0.00228680    2.88000000  Ask
6  0.00228690    3.28000000  Ask
7  0.00228700    2.49000000  Ask
8  0.00228730   43.75000000  Ask
9  0.00228740  212.95000000  Ask

In [68]:
df3 = pd.concat([bids,asks])
df3

        Price      Quantity Type
0  0.00228600  316.37000000  Bid
1  0.00228560   18.73000000  Bid
2  0.00228540    2.44000000  Bid
3  0.00228510   43.74000000  Bid
4  0.00228470   73.62000000  Bid
5  0.00228460   98.67000000  Bid
6  0.00228450  130.00000000  Bid
7  0.00228430  125.90000000  Bid
8  0.00228420  100.00000000  Bid
9  0.00228410   87.51000000  Bid
0  0.00228610   61.78000000  Ask
1  0.00228620    4.46000000  Ask
2  0.00228630    2.18000000  Ask
3  0.00228650  110.16000000  Ask
4  0.00228670   20.79000000  Ask
5  0.00228680    2.88000000  Ask
6  0.00228690    3.28000000  Ask
7  0.00228700    2.49000000  Ask
8  0.00228730   43.75000000  Ask
9  0.00228740  212.95000000  Ask

In [69]:
df.to_csv('./marketdepth.csv', index=False)